psycopg2 
blinker
certifi
charset-normalizer
click
colorama
Flask
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
mysql-connector-python
packaging
Pillow
protobuf
reportlab
requests
SQLAlchemy
tk
typing_extensions
urllib3
Werkzeug
WTForm
